---
import Head from '../layouts/Head.astro';
import Navbar from '../layouts/Navbar.svelte';
import { Image } from 'astro:assets';
import ContactElement from '../components/ContactElement.svelte';

// Images
import Pfp from '../../public/images/pfp.png';
import AmazonIcon from '../images/icons/amazon.svg';
import BskyIcon from '../images/icons/bsky.svg';
import DiscogsIcon from '../images/icons/discogs.svg';
import DiscordIcon from '../images/icons/discord.svg';
import EmailIcon from '../images/icons/email.svg';
import GithubIcon from '../images/icons/github.svg';
import InstagramIcon from '../images/icons/instagram.svg';
import LockIcon from '../images/icons/lock.svg';
import PronounsDotPageIcon from '../images/icons/pronounsdotpage.svg';
import SignalIcon from '../images/icons/signal.svg';
import SpotifyIcon from '../images/icons/spotify.svg';
import SteamIcon from '../images/icons/steam.svg';
import TikTokIcon from '../images/icons/tiktok.svg';
import YouTubeIcon from '../images/icons/youtube.svg';
---

<html class="bg-accent" lang="en">
  <Head title="arithefirst | Contact" description="Everywhere you can find April Hall" />
  <body class="md:overflow-hidden overflow-y-scroll overflow-x-hidden">
    <Navbar />
    <div
      class="w-screen mt-[76px] z-10 md:absolute md:mt-0 md:top-[84px] md:left-1/2 md:-translate-x-1/2 custom-height"
    >
      <div class="md:flex md:justify-center h-fit md:items-center md:w-full md:h-full">
        <div>
          <Image
            alt="cat from 2023 steam summer sale"
            class="relative w-[15w] mx-auto aspect-square rounded-3xl"
            src={Pfp}
          />
          <h1 class="text-center relative font-bold md:text-3xl text-xl my-2 text-white">
            @arithefirst (almost) everywhere
          </h1>
          <div
            class="relative mb-5 h-fit md:w-fit w-10/12 grid md:grid-cols-6 grid-cols-1 mx-auto justify-items-center gap-2"
          >
            <ContactElement
              className="md:col-span-2"
              href="https://www.amazon.com/hz/wishlist/ls/1F2RJS322A2NR?sort=price-asc"
              name="Amazon Wishlist"
              ><Image class="absolute right-5 h-5 text-white" src={AmazonIcon} alt="Amazon Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://bsky.app/profile/arithefirst.com" name="Bluesky"
              ><Image class="absolute right-5 h-5 text-white" src={BskyIcon} alt="Bluesky Logo" /></ContactElement
            >
            <ContactElement
              className="md:col-span-2"
              href="https://www.discogs.com/user/arithefirst/collection?header=1"
              name="Discogs"
              ><Image class="absolute right-5 h-5 text-white" src={DiscogsIcon} alt="Discogs Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://discord.com/users/613358761901424652" name="Discord"
              ><Image class="absolute right-5 h-5 text-white" src={DiscordIcon} alt="Discord Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="/publickey.txt" name="E-Mail"
              ><Image class="absolute right-5 h-5 text-white" src={EmailIcon} alt="envelope" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://github.com/arithefirst" name="Github"
              ><Image class="absolute right-5 h-5 text-white" src={GithubIcon} alt="Github Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://www.instagram.com/_arithefirst_/" name="Instagram"
              ><Image
                class="absolute right-5 h-5 text-white"
                src={InstagramIcon}
                alt="Instagram Logo"
              /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://en.pronouns.page/@arithefirst" name="Pronouns.page"
              ><Image
                class="absolute right-5 h-5 text-white"
                src={PronounsDotPageIcon}
                alt="Pronouns.page Logo"
              /></ContactElement
            >
            <ContactElement
              className="md:col-span-2"
              href="https://signal.me/#eu/NytIaD7wOcX0wBjv-rUs9T2jiOvF3691v0Ec1wa2CHNBvO5aeZ9BDoN6_uLod-TX"
              name="Signal"
              ><Image
                class="absolute right-5 h-5 text-white"
                src={SignalIcon}
                alt="Signal Messneger Logo"
              /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://stats.fm/arithefirst" name="Spotify"
              ><Image class="absolute right-5 h-5 text-white" src={SpotifyIcon} alt="Spotify Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://steamcommunity.com/id/arithefirst/" name="Steam"
              ><Image class="absolute right-5 h-5 text-white" src={SteamIcon} alt="Steam Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-2" href="https://www.tiktok.com/@arithefirst_" name="Tik-Tok"
              ><Image class="absolute right-5 h-5 text-white" src={TikTokIcon} alt="TikTok Logo" /></ContactElement
            >
            <!-- Two item per row -->
            <ContactElement className="md:col-span-3" href="https://youtube.com/@arithefirst_" name="Youtube"
              ><Image class="absolute right-5 h-5 text-white" src={YouTubeIcon} alt="YouTube Logo" /></ContactElement
            >
            <ContactElement className="md:col-span-3" href="/publickey.txt" name="PGP Pubkey"
              ><Image class="absolute right-5 h-5 text-white" src={LockIcon} alt="padlock" /></ContactElement
            >
          </div>
        </div>

        <!--- Padding -->
        <div class="h-4"></div>
      </div>
    </div>

    <style>
      .custom-height {
        height: calc(100vh - 84px);
      }
    </style>
  </body>
</html>
