---
import { Icon } from 'astro-iconify';
const { href, icon, name, className } = Astro.props;

const aClass = `h-8 w-full min-w-48 btn relative btn-primary text-base-content border-transparent shadow-md ${className}`;
---

<a class={aClass} href={href} target="_blank">
  <Icon name={icon} />
  <p class="absolute text-l left-5">{name}</p>
</a>

<style>
  .btn {
    display: flex !important;
    height: 2rem !important;
  }

  [astro-icon] {
    position: absolute;
    right: 1.25rem;
    height: 1.25rem;
  }
</style>
