---
import ProjectCard from './ProjectCard.svelte';
import { Image } from 'astro:assets';

import nowPlayingWidget from '../images/now-playing-widget.webp';
import pfp from '../../public/images/pfp.png';
import lockbox from '../images/lockbox.svg';
import cheesecake from '../images/cheesecake.png';
import h3 from '../images/h3.png';
---

<section class="projects" id="projects">
  <h1 class="mt-5 text-center text-3xl font-bold md:mt-5">Projects</h1>
  <hr class="mx-auto my-3 w-1/2 border-base-content" />
  <div class="mx-auto flex w-fit grid-cols-4 flex-wrap justify-center gap-4">
    <!--  Add <ProjectCard /> Components here  -->
    <ProjectCard
      href="/project/koshi"
      name="Koshi (hikari3.ch)"
      desc="An Imageboard software designed for hikari3.ch"
      tags={['EJS', 'Express', 'JavaScript', 'MongoDB', 'NodeJS']}
      client:visible
      ><Image src={h3} alt="hikari3.ch logo" class="h-full w-full bg-base-300 object-cover" />
    </ProjectCard>

    <ProjectCard
      href="/project/lockbox"
      name="Lockbox"
      desc="A password protected dropbox where users given a password can upload a file "
      tags={['DaisyUI', 'Docker', 'Svelte', 'SvelteKit', 'Tailwind', 'Typescript']}
      client:visible
      ><Image src={lockbox} alt="lockbox logo" class="h-full w-full bg-base-300 object-cover" /></ProjectCard
    >
    <ProjectCard
      href="/project/now-playing-widget"
      name="Now Playing Widget"
      desc="A simple widget to show the current song playing on your spotify account."
      tags={['CSS', 'Golang', 'HTML', 'Javascript', 'JQuery']}
      client:visible
      ><Image
        src={nowPlayingWidget}
        alt="now playing widget preview"
        class="h-full w-full bg-base-300 object-cover"
      /></ProjectCard
    >
    <ProjectCard
      href="/project/portfolio"
      name="Portfolio"
      desc="My portfolio website, the one you're on now!"
      tags={['AstroJS', 'DaisyUI', 'Svelte', 'Tailwind', 'Vercel']}
      client:visible
      ><Image
        src={pfp}
        alt="cat from the 2023 steam summer sale"
        class="h-full w-full bg-base-300 object-cover"
      /></ProjectCard
    >
    <ProjectCard
      href="/project/shibedrill-site"
      name="shibedrill.site"
      desc="A Custom-built blog site for Shibedrill"
      tags={['AstroJS', 'DaisyUI', 'Tailwind', 'Vercel']}
      client:visible
      ><Image
        src={cheesecake}
        alt="Cheesecake, the harbinger of end times"
        class="h-full w-full bg-base-300 object-cover"
      /></ProjectCard
    >
  </div>
</section>
