---
import ProjectCard from './ProjectCard.svelte';
import { Image } from 'astro:assets';

import nowPlayingWidget from '../images/now-playing-widget.webp';
import pfp from '../../public/images/pfp.png';
import lockbox from '../images/lockbox.svg';
import cheesecake from '../images/cheesecake.png';
import h3 from '../images/h3.png';
---

<div class="projects" id="projects">
  <h1 class="text-3xl font-bold text-center md:mt-5 mt-5">Projects</h1>
  <hr class="w-1/2 mx-auto my-3 border-base-content" />
  <div class="grid-cols-4 w-fit mx-auto flex flex-wrap justify-center gap-4">
    <!--  Add <ProjectCard /> Components here  -->
    <ProjectCard
      href="https://github.com/hikari3-ch/koshi"
      name="Koshi (hikari3.ch)"
      desc="An Imageboard software designed for hikari3.ch"
      tags={['EJS', 'Express', 'JavaScript', 'MongoDB', 'NodeJS']}
      client:visible
    ><Image src={h3} alt="hikari3.ch logo" class="object-cover w-full h-full bg-base-300"/>
    </ProjectCard>

    <ProjectCard
      href="https://github.com/arithefirst/lockbox"
      name="Lockbox"
      desc="A password protected dropbox where users given a password can upload a file "
      tags={['DaisyUI', 'Docker', 'Svelte', 'SvelteKit', 'Tailwind', 'Typescript']}
      client:visible
      ><Image src={lockbox} alt="lockbox logo" class="object-cover w-full h-full bg-base-300" /></ProjectCard
    >
    <ProjectCard
      href="https://github.com/arithefirst/now-playing-widget"
      name="Now Playing Widget"
      desc="A simple widget to show the current song playing on your spotify account."
      tags={['CSS', 'Golang', 'HTML','Javascript', 'JQuery']}
      client:visible
      ><Image
        src={nowPlayingWidget}
        alt="now playing widget preview"
        class="object-cover w-full h-full bg-base-300"
      /></ProjectCard
    >
    <ProjectCard
      href="https://github.com/arithefirst/portfolio"
      name="Portfolio"
      desc="My portfolio website, the one you're on now!"
      tags={['AstroJS', 'DaisyUI', 'Svelte', 'Tailwind', 'Vercel']}
      client:visible
      ><Image
        src={pfp}
        alt="cat from the 2023 steam summer sale"
        class="object-cover w-full h-full bg-base-300"
      /></ProjectCard
    >
    <ProjectCard
      href="https://github.com/arithefirst/shibedrill-homepage"
      name="shibedrill.site"
      desc="A Custom-built blog site for Shibedrill"
      tags={['AstroJS', 'DaisyUI', 'Tailwind', 'Vercel']}
      client:visible
      ><Image
        src={cheesecake}
        alt="Cheesecake, the harbinger of end times"
        class="object-cover w-full h-full bg-base-300"
      /></ProjectCard
    >
  </div>
</div>
